@import "bootstrap";

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

/* Typography */

.hero-image h1 {
	color: white;
}

.hero-image p {
	color: white;
}



.hero-image {
	height: 400px;
	max-width: 100%;
	background: image-url("clubnight.jpg");
	-webkit-background-size: cover; /*for webKit*/
    -moz-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover; /*generic*/
}

.search {
	padding-top: 100px;
	padding-left: 100px;
}

.search form {
	color: white;
}